body{
    font: 15px/1.5 Arial, helvetica, sans-serif;
    padding: 0;
    marging: 0;
    background-color:#f4f5f7; 
     background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxAQEA8QDxIQEA0PDw8NDQ0QEA8PDw0NFREWFhURFRUYHSggGBolGxUVITEhJikrLi4wFx83ODMtNygtLisBCgoKDQ0NDw0NFSsZFRkrLS0tKy0rKy0tKysrNy0tKysrKysrNzcrKzcrKzctNzctLSs3Kys3KzcrNy0tKysrLf/AABEIAIUBewMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAAAAQIDBAYFBwj/xABGEAABAwIDBQQHAwkGBwEAAAABAAIDBBESEyEFMVFhkQYiQaEUMlJxgbHSQpLRBxUWIyRTVGLBgpOi4fDxNENEcoOjwjP/xAAWAQEBAQAAAAAAAAAAAAAAAAAAAQL/xAAaEQEBAQEBAQEAAAAAAAAAAAAAEQESUWEh/9oADAMBAAIRAxEAPwDFXRdFk4tVDboulsiyBLoulslAQJqjVSxsUuUoKuqNVYykZSCvqjVWMpGUgr6o1VjKRlIK+qNVYykZSCtcpdVNl6p2Ugr6o1VjKRlIK2qXVTOjSiJBBqkurJiURYgjuUuqmEaXKQV7pdVKY04RIINUlyrGUlykFa6LlTOjTspBXui6sZSMpBXui6ny0ZSCC6LqfLSYEEN0XU2BGWghui6kcxMIQJdF0WRZUF0XQhAXRdCEDwE8jRRYxxRmDiiFS2SNeOKdmN4oDCla1GY3ilbI2+9BapYr9VayUmzZGG4uAb7iQr73Rgaub1Cg5+SmmLVXRLHvxN6hRPmjv6wQQiFLkq9FGCNFJkIrmZKTJXTMCaYEHPyUGFdDJQYUHJMXeCnEKmLBjCuNhQc7JSZK6fo6MhByJIk5kKvTxWToYwQgoOhVZ8eq7boFRki1PvQV2RJ+Sr0cCkMCDkOi1UjYVakisVO2FBQyUuQr+Ukywg5ksPzCe2FWKposlpiCOaCvkpuSujlpclBzclGSujkIyEHMMKrzx2XYdCqdXFog5hCtQx3CidGV0qaHuoKE0arOC6dXHayoyDVBDZJZSWSWVDLJLJxCRENshORZFVEJl0t1UO0TgAo7pQUEuEJQwJrSnhAmAIDGokULHaoJ8AUbxbcpFHKg03ZmXE2xO7cu8YwsPsiqLDotAKpx4/eKm4ldZzAoi0KgJTz6lODzw8ypCruEIfGbblFSzhp7w+O9XxWx2+10SLWaqWkyC+moXep4dAq8s7S8HDoPG2q6MNZHbx6FNRGYkhiSz1APqg/JRteeHmiqG0m2BS7LZdqsVGvgimFvBETPisFzZGan3rpuuf8AdRmFCo4GKd0Om5ETcJ3KxnNtud5fiis/XA4gNV0aaIkDQ9ETSXdcN6q3DUi24/CyIgdEmGnJ3BWJZwdzT8U6OsA3tPwsoribQic0XseibsyJx1wk87Lq1tY0ggNN+drKOhrMIs5t+YVQ8QEbwnBgT5doNI0a6/OwXPdISb6j4lItXssJCwKhmHn1KQvPPqUhVt7QoJI2lQk+/qUy1j/mUiVI6map4mCyfTkEeKlcAg5dcy9rX6LnzU5328l3n4RxXPq6obgFRyi1IQpSE0hVURCjIUxCjsoEISWTiEWQc1CEi0hboukRZA66cHlR2SgIJHOKiB1T3WUR3oJxImPfdICkcUElK6zgtNRm4CysJ7wWkoibBB0mgKVrQqQeU4SFRF9rQpA0Lnh7k4PcgvZQU0cQXOD3KVkjxxUHSyUYLKGGqPiCrYkBQQSRgoiiUwixeqCTyF1NHQSj7B6gfMoIssJMAVt0bm72nqFRmnANsOvC2qBxYEGNSQRSHURn/CPmVZbRyO+weoUHJdCnNaAF0ZNly78s9Qf6quWYdHNIPAiyqq4iugwKSSqA/wBlRmqnHcCgdJEEzAAq7pHc1GZHc1RaLQmFoVUyOTTI7mgtFoSFoVQyOSF7kFogJjrKqXuTC8oLTJ7KUVBdut1XMJJTow8G46ILs5cBvHwXPdqU6adx0Nh7lXLigkITCmkphKBHFMTk0lAFKEwuShyDmXSXTcSS6oddLiSApCEDroJTAUqBQkclCCgVqHBDE5yCNh1HvXoXZzIMfetfnZeeFdSgnsLXQej5dNxb5ItTcR5LA+kcz1SZ/M9VIjfh1Nxb5Jc2m4t8l5/njieqM4cSkHoHpFNxb1CUVVPxb5Lz7OHFGcOKQeitqKfiOoSump+I6rzrO5nqlz+Z6pB6VR1sDdLgK+drwAbyf9c15Nncz1S5/M9SpB6TVbUgdx8lzRUwB4dbdzWIzuZ6pM4cVYPTYdrQW8fJWYtuwjj5LyrP5nqkzuZ6lSYPYDtmAjeei5lZX07jvC8yz+Z6lJnDiU5V6KZ6bi3qEx1TTcW+S89zuZSZw4qxG/NZTcW+ST0ql4t8lgM0JM4JB6B6RS8W+SQzUvFvksBnBJnBIN8ZqXi3ySGWl4t8lgc4JM0JBvjJScW+SY6Wk4t8lg80JplCQbKV1L4YeoTM2nHDqFj8wJMwINHU5BP+YUQyR4+a4GYEmaFR33Oh4lMLoeJXCzQkMgRXbJh4/JMIh4/JcbMCTMCDsFsPH5Iww8fkuNjCMYQVbISWRZAt0XTbIAQKUl0WS4QgUOQXJA0JQAgVjk7GEgaP9XUjWt8R80EDipoCrdMIrjE249y3vZyh2ZIA1zGY/EPGqaPPEL1et7A0covETETuLDdvQ6LNbR/J3VR3MTmTN4eo7z081OsGOQr9VsaoiNpYns5kG3Xcq/oj+CohQpvRX8EopH8EECW6n9Dk9ko9Dk9koILoupjSv4FJ6M/gqIroupfR3cE+GMtNy2/JQQBpO4E+66kbTSHcx5+BWkpNtRxtAdACeOisx9p4Qf8A8glGUNHKN7Hj3ghJ6JLvwPtxsVtv0upzvi8gnP7Y01rCHyCl0YQwvG9ruhUZB8brYSdqITugaVytpVJm9WEMHuCo4aRWPRH8EehP4IK6RWfQn8EnoT+CCukVn0N/BIaN/BBWQpzSP4JDTO4IIEKQwu4JpYUDEJS1JZAiEqRAIRdF0AhJdF0F9uxH+03oU9uwX+0PulWv0lPhDF8S8/1SHtPJ4RwDmGvPzcgib2fPteSlZ2bJ+07oE09p5vDLHujb/VIe1FR4PaPdHH9KC1H2W/md0CtDsk0+0uSe1FV+9I9zIx/8ph7TVfhPIPu/gg0UHY+O4xB5HC66kHYqkPg+/AuKwzu0lWf+om+9b5KN23ak755/7x4/qp+j02PsbS2Ayybbrkq5D2Sox/ymn36ryF21pzvmmP8A5ZPxTHbQlO+SQ++R5/qk30e3wdn6Nm6GEf2Wq/HSUzfsxC271BZfPxq3neXH3ucUCd3C/Uqc/R9ECpgb9uMf22j+qa7a9MN88I98jPxXn/5P+zLXxGrrYw+N4tTQFhdib+8LRvv4dVq/zLRfwcP9y/6VmYLs23aHc6opyOBkYVxa6bY77kzQsPtRuA8hoVfdsOhDcTqOAHfYRONhzsN/JRjYlC62GjpzfdeN7R8SW6IMfWinxfs0onb490gt+O4p1PGfZW0/N9FFYNp4m+Gkb7E8rN3KzFTQ30hjDRq42eD8Bh1V6IyMVNfezyTpKWw9UdFrrw3sI234YZN3ROy47XdEyx9W2NxNvaFtEqR57UMI+x5Ko4fyr0YR07hcRRu8PVkGv3UktJTNHfgiDho6we5vwOHVXojzgs5KvNE7wC9NFDTn1aeE6X72Y0W5d3U8kySlpAQBBHruuyS/yTpXkVVHMdwXOfTS8CvcmUFPvNPDgva4Dy+//bh3c7pnolISQKeIkbxgk+lOh4dkS8CgUsx+yV7n+b6ZoOOmhBtcYWue23M4RryRHS05tl08Fz7QewdcKdDxekpp2nRhPwWl2e2cjvssOYXo7o6doByWA7j3HkX5WCXKjOuTEWC1/Xxa8G4deqdDASQ8k+OLkFuHxU2K2Qy/heKT54bJY6aEetTxC4u3A1z+vdFlKMWKO/gl/N/JbNmUdGQx4rgWcyVg64NyV5iAOKFuIGxtHI8fAhuqUYd2z1E6iK3bMt2rYYi0C5uyRrvg0t1929Evo4t+pbr4mCUj4nDYfFKPPpKPkqc1JbwXppgg3Ohjt42iIPw0Wb27sXK77O9C71XeyfZKuaMTLEq74lpaTZYnkETZY2ykXDZMTL8mm3ePuXVP5PpftTxD3BytwefPiULol6DU9gyxpcZ2m2vdaVxZNgM8JT8WD8UoypjTCxaSXYB8JGn3tI/qqVRsSZouAHj+U69CqOMWpLKVzf8AMJpCCOyMKfZFkFfAjAlSoEwJcAS2SgIEwBKGBOATg1AwRhPEQUjW8lIGFA1sLeAU8cDeASNYVOxnvQT01MwncPJbPs92ahk78jP1bO8/S+L+UAb1mtnQ3cF2a3aW1GtyYIGmnY68cjMbJHafaLZNRqfAeCmjaTSYyLYmtaLMb6LUjC3hoR8lCXN1AxueL90U9WLutcNuXWHhvPisMNobY/cS/wB5L9SsS7V2xhYBSFgGI3jfLikJtdzyXm50GqzBtGse12vrtOhbDVStvbeDexUcbg52GEyOcSA7NbWBoduc4uccLRcHQe5YsbV2z+4m92Y/8U6q23ta7f2R0QaxrA2J7w2wvY6uOupSDbxyG3exgOAzMMNZiwg3IDt496jilLgcolzQHOJf6Y2wuLNBcSXO18lh2be2rexp5HjxY6R2Fw4G1jb4qzNtza73FwpJGX+xG/uCwtpe6QbZ4xDC4yANDi3A2rYcw7i4tNyOSjLpNbAmMEMc4isxFxBNgzeRYDXdqsb+dts/ws/3o/pUx21tcMAFC8EOLjKHjG8kAa3uNwA3eCQbB7rnGczMuAAGVrY8Aba2EaE38UkU0gIcRYXdgOGre7unDdzD6t73F1inbf2uN9LL9+L6E39Itrfw0v34voSDaYQNQZbkEuuK4txXJ7ov3RbS3JDXSYXNcMJe1t8PpUlgRcd77LgTuCxLu0m1BvppfvR/Qoz2p2l/Dy/ej+hJo3TtL5eMi4wNkNYSL23vJPPVOvezZcYDHPuIvSgTqd0jbEgmxWEHafafhTTdW/QnfpLtT+Gm/wAP0JNG37xwtb3nHQl/pkbdGk3LibC9rfFLI/GS92aH2bhwsrGtBFr4mg2dposMO0+1P4aXq36FIO0O1jupJvL6Ug2rZZAS5lyGDG4ujqgcN7GzXaOsDeyZltGoMgdc3GGsLMOlgG4rNI5LIxbe2te5oHyaOGF+LDZwsfVA8Cqb9vbVB/4accruNvJINxJI9rXXtlE2ccuqc+4FwcN7gb9QmxFpAMZlw2AOOGuf3xo6xcbgcjuWFPaLae7Il9xJ18lPU9otquNxSPjJAxZZlAeQLYjcnWwGqQbSZzsLc4fq9C3Ljq8VsRu0lpDmnTxFtRvUBmABwl5t6mKjrnOt4XcN552WOj23tfEP2eZ1iDhJlsSDfWxClqtt7Ye4u9Eewk3LW5waDyu4pBq62bA93pDX47YhJFBWZZ4PLmktI4hwvv3JWVWHdYGxB/Zqg3B3g95ZCn2vtlrgRSufvux4lcxwIsQ4YxcclVlr9rXNqVzB7LRPhbyHfSDZNqmRkljZMZtfLpa2SMt4FguAdN4I+Klj2vvbIyZ8Trh7Bs+tFxyJBt0WMotrbYYX4acvxMLHNkFQW4T4j9YNearO2htb9zL1qtP/AGKwW+3dBPTOZKwXpH2dFJhLXxPIuGPvq09Oqs7F/KCcsMnF5m6B5eWh45+F/mqMG1NqFkkT4GuilAbJmtkksOLcclh08AuBPsCYGwaSrPRuantm9zSBHGA4WuQHFZ01oJub/DRZ91BNHpct5AkJv672j80g0o2lbcPidSgbTKzGKb2vl+CaTL4uPUqjqbZla9wcAA8iz7ePAnmuamgHxSoBKkS3QRZaXAhCB2BPEaEIHNYpWsQhBM2NSiNCFBIGKWNiEKjs7LZqFs6RugQhZ0W2pyELKhQzBCERWwq9TtQhBcATHoQoKFQq7UIWgkqrhuqEIL0AUsgQhQRsGq6EIQhBPdRyoQoOdMNVYgCEKixdJdCFA0lRuKEKivI5V5ClQg59WTZcKrkI3IQtYjiVZudVSfGhCqonsULmpUIIyxMwIQqAMRhQhB//2Q==") no-repeat 0 -100px; 
}

/*global*/
.container{
    width: 90%;
    margin:auto;
    overflow: hidden;
}
    header{
        background: #35424a;
        color: #ffffff;
        padding-top: 30px;
        min-height: 70px;
        border-bottom: #e8491d 3px solid;

    }
    header ul{
        margin: 0px;
        padding: 0px;
    }
    .button_1{
        height: 38px;
        background:#e8492d;
        border: 0;
        padding: right 20px;
        padding: right 20px;
        color: white;
    }
    .dark{
        padding:15px;
        background:#464342;
        color:#ffffff;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    header a{
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        }
        header li{
            float: left;
            display: inline;
            padding: 0px 20px 0px 20px;
         
        }
        header #branding{
            float:left;
        }
        header #branding h1{
           margin: 0;
        }
        header nav{
            float:right;
            margin-bottom:10px; 
        }
        header .highlight, header .current a{
            color: #e8491d;
            font-weight:bold; 
        }
        header a:hover{
            color: #e8491d;
            font-weight:bold;
        }
        /*showcase*/
        #showcase{
            min-height: 400px;
            background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxAQEA8QDxIQEA0PDw8NDQ0QEA8PDw0NFREWFhURFRUYHSggGBolGxUVITEhJikrLi4wFx83ODMtNygtLisBCgoKDQ0NDw0NFSsZFRkrLS0tKy0rKy0tKysrNy0tKysrKysrNzcrKzcrKzctNzctLSs3Kys3KzcrNy0tKysrLf/AABEIAIUBewMBIgACEQEDEQH/xAAcAAABBQEBAQAAAAAAAAAAAAAAAQIDBAYFBwj/xABGEAABAwIDBQQHAwkGBwEAAAABAAIDBBESEyEFMVFhkQYiQaEUMlJxgbHSQpLRBxUWIyRTVGLBgpOi4fDxNENEcoOjwjP/xAAWAQEBAQAAAAAAAAAAAAAAAAAAAQL/xAAaEQEBAQEBAQEAAAAAAAAAAAAAEQESUWEh/9oADAMBAAIRAxEAPwDFXRdFk4tVDboulsiyBLoulslAQJqjVSxsUuUoKuqNVYykZSCvqjVWMpGUgr6o1VjKRlIK+qNVYykZSCtcpdVNl6p2Ugr6o1VjKRlIK2qXVTOjSiJBBqkurJiURYgjuUuqmEaXKQV7pdVKY04RIINUlyrGUlykFa6LlTOjTspBXui6sZSMpBXui6ny0ZSCC6LqfLSYEEN0XU2BGWghui6kcxMIQJdF0WRZUF0XQhAXRdCEDwE8jRRYxxRmDiiFS2SNeOKdmN4oDCla1GY3ilbI2+9BapYr9VayUmzZGG4uAb7iQr73Rgaub1Cg5+SmmLVXRLHvxN6hRPmjv6wQQiFLkq9FGCNFJkIrmZKTJXTMCaYEHPyUGFdDJQYUHJMXeCnEKmLBjCuNhQc7JSZK6fo6MhByJIk5kKvTxWToYwQgoOhVZ8eq7boFRki1PvQV2RJ+Sr0cCkMCDkOi1UjYVakisVO2FBQyUuQr+Ukywg5ksPzCe2FWKposlpiCOaCvkpuSujlpclBzclGSujkIyEHMMKrzx2XYdCqdXFog5hCtQx3CidGV0qaHuoKE0arOC6dXHayoyDVBDZJZSWSWVDLJLJxCRENshORZFVEJl0t1UO0TgAo7pQUEuEJQwJrSnhAmAIDGokULHaoJ8AUbxbcpFHKg03ZmXE2xO7cu8YwsPsiqLDotAKpx4/eKm4ldZzAoi0KgJTz6lODzw8ypCruEIfGbblFSzhp7w+O9XxWx2+10SLWaqWkyC+moXep4dAq8s7S8HDoPG2q6MNZHbx6FNRGYkhiSz1APqg/JRteeHmiqG0m2BS7LZdqsVGvgimFvBETPisFzZGan3rpuuf8AdRmFCo4GKd0Om5ETcJ3KxnNtud5fiis/XA4gNV0aaIkDQ9ETSXdcN6q3DUi24/CyIgdEmGnJ3BWJZwdzT8U6OsA3tPwsoribQic0XseibsyJx1wk87Lq1tY0ggNN+drKOhrMIs5t+YVQ8QEbwnBgT5doNI0a6/OwXPdISb6j4lItXssJCwKhmHn1KQvPPqUhVt7QoJI2lQk+/qUy1j/mUiVI6map4mCyfTkEeKlcAg5dcy9rX6LnzU5328l3n4RxXPq6obgFRyi1IQpSE0hVURCjIUxCjsoEISWTiEWQc1CEi0hboukRZA66cHlR2SgIJHOKiB1T3WUR3oJxImPfdICkcUElK6zgtNRm4CysJ7wWkoibBB0mgKVrQqQeU4SFRF9rQpA0Lnh7k4PcgvZQU0cQXOD3KVkjxxUHSyUYLKGGqPiCrYkBQQSRgoiiUwixeqCTyF1NHQSj7B6gfMoIssJMAVt0bm72nqFRmnANsOvC2qBxYEGNSQRSHURn/CPmVZbRyO+weoUHJdCnNaAF0ZNly78s9Qf6quWYdHNIPAiyqq4iugwKSSqA/wBlRmqnHcCgdJEEzAAq7pHc1GZHc1RaLQmFoVUyOTTI7mgtFoSFoVQyOSF7kFogJjrKqXuTC8oLTJ7KUVBdut1XMJJTow8G46ILs5cBvHwXPdqU6adx0Nh7lXLigkITCmkphKBHFMTk0lAFKEwuShyDmXSXTcSS6oddLiSApCEDroJTAUqBQkclCCgVqHBDE5yCNh1HvXoXZzIMfetfnZeeFdSgnsLXQej5dNxb5ItTcR5LA+kcz1SZ/M9VIjfh1Nxb5Jc2m4t8l5/njieqM4cSkHoHpFNxb1CUVVPxb5Lz7OHFGcOKQeitqKfiOoSump+I6rzrO5nqlz+Z6pB6VR1sDdLgK+drwAbyf9c15Nncz1S5/M9SpB6TVbUgdx8lzRUwB4dbdzWIzuZ6pM4cVYPTYdrQW8fJWYtuwjj5LyrP5nqkzuZ6lSYPYDtmAjeei5lZX07jvC8yz+Z6lJnDiU5V6KZ6bi3qEx1TTcW+S89zuZSZw4qxG/NZTcW+ST0ql4t8lgM0JM4JB6B6RS8W+SQzUvFvksBnBJnBIN8ZqXi3ySGWl4t8lgc4JM0JBvjJScW+SY6Wk4t8lg80JplCQbKV1L4YeoTM2nHDqFj8wJMwINHU5BP+YUQyR4+a4GYEmaFR33Oh4lMLoeJXCzQkMgRXbJh4/JMIh4/JcbMCTMCDsFsPH5Iww8fkuNjCMYQVbISWRZAt0XTbIAQKUl0WS4QgUOQXJA0JQAgVjk7GEgaP9XUjWt8R80EDipoCrdMIrjE249y3vZyh2ZIA1zGY/EPGqaPPEL1et7A0covETETuLDdvQ6LNbR/J3VR3MTmTN4eo7z081OsGOQr9VsaoiNpYns5kG3Xcq/oj+CohQpvRX8EopH8EECW6n9Dk9ko9Dk9koILoupjSv4FJ6M/gqIroupfR3cE+GMtNy2/JQQBpO4E+66kbTSHcx5+BWkpNtRxtAdACeOisx9p4Qf8A8glGUNHKN7Hj3ghJ6JLvwPtxsVtv0upzvi8gnP7Y01rCHyCl0YQwvG9ruhUZB8brYSdqITugaVytpVJm9WEMHuCo4aRWPRH8EehP4IK6RWfQn8EnoT+CCukVn0N/BIaN/BBWQpzSP4JDTO4IIEKQwu4JpYUDEJS1JZAiEqRAIRdF0AhJdF0F9uxH+03oU9uwX+0PulWv0lPhDF8S8/1SHtPJ4RwDmGvPzcgib2fPteSlZ2bJ+07oE09p5vDLHujb/VIe1FR4PaPdHH9KC1H2W/md0CtDsk0+0uSe1FV+9I9zIx/8ph7TVfhPIPu/gg0UHY+O4xB5HC66kHYqkPg+/AuKwzu0lWf+om+9b5KN23ak755/7x4/qp+j02PsbS2Ayybbrkq5D2Sox/ymn36ryF21pzvmmP8A5ZPxTHbQlO+SQ++R5/qk30e3wdn6Nm6GEf2Wq/HSUzfsxC271BZfPxq3neXH3ucUCd3C/Uqc/R9ECpgb9uMf22j+qa7a9MN88I98jPxXn/5P+zLXxGrrYw+N4tTQFhdib+8LRvv4dVq/zLRfwcP9y/6VmYLs23aHc6opyOBkYVxa6bY77kzQsPtRuA8hoVfdsOhDcTqOAHfYRONhzsN/JRjYlC62GjpzfdeN7R8SW6IMfWinxfs0onb490gt+O4p1PGfZW0/N9FFYNp4m+Gkb7E8rN3KzFTQ30hjDRq42eD8Bh1V6IyMVNfezyTpKWw9UdFrrw3sI234YZN3ROy47XdEyx9W2NxNvaFtEqR57UMI+x5Ko4fyr0YR07hcRRu8PVkGv3UktJTNHfgiDho6we5vwOHVXojzgs5KvNE7wC9NFDTn1aeE6X72Y0W5d3U8kySlpAQBBHruuyS/yTpXkVVHMdwXOfTS8CvcmUFPvNPDgva4Dy+//bh3c7pnolISQKeIkbxgk+lOh4dkS8CgUsx+yV7n+b6ZoOOmhBtcYWue23M4RryRHS05tl08Fz7QewdcKdDxekpp2nRhPwWl2e2cjvssOYXo7o6doByWA7j3HkX5WCXKjOuTEWC1/Xxa8G4deqdDASQ8k+OLkFuHxU2K2Qy/heKT54bJY6aEetTxC4u3A1z+vdFlKMWKO/gl/N/JbNmUdGQx4rgWcyVg64NyV5iAOKFuIGxtHI8fAhuqUYd2z1E6iK3bMt2rYYi0C5uyRrvg0t1929Evo4t+pbr4mCUj4nDYfFKPPpKPkqc1JbwXppgg3Ohjt42iIPw0Wb27sXK77O9C71XeyfZKuaMTLEq74lpaTZYnkETZY2ykXDZMTL8mm3ePuXVP5PpftTxD3BytwefPiULol6DU9gyxpcZ2m2vdaVxZNgM8JT8WD8UoypjTCxaSXYB8JGn3tI/qqVRsSZouAHj+U69CqOMWpLKVzf8AMJpCCOyMKfZFkFfAjAlSoEwJcAS2SgIEwBKGBOATg1AwRhPEQUjW8lIGFA1sLeAU8cDeASNYVOxnvQT01MwncPJbPs92ahk78jP1bO8/S+L+UAb1mtnQ3cF2a3aW1GtyYIGmnY68cjMbJHafaLZNRqfAeCmjaTSYyLYmtaLMb6LUjC3hoR8lCXN1AxueL90U9WLutcNuXWHhvPisMNobY/cS/wB5L9SsS7V2xhYBSFgGI3jfLikJtdzyXm50GqzBtGse12vrtOhbDVStvbeDexUcbg52GEyOcSA7NbWBoduc4uccLRcHQe5YsbV2z+4m92Y/8U6q23ta7f2R0QaxrA2J7w2wvY6uOupSDbxyG3exgOAzMMNZiwg3IDt496jilLgcolzQHOJf6Y2wuLNBcSXO18lh2be2rexp5HjxY6R2Fw4G1jb4qzNtza73FwpJGX+xG/uCwtpe6QbZ4xDC4yANDi3A2rYcw7i4tNyOSjLpNbAmMEMc4isxFxBNgzeRYDXdqsb+dts/ws/3o/pUx21tcMAFC8EOLjKHjG8kAa3uNwA3eCQbB7rnGczMuAAGVrY8Aba2EaE38UkU0gIcRYXdgOGre7unDdzD6t73F1inbf2uN9LL9+L6E39Itrfw0v34voSDaYQNQZbkEuuK4txXJ7ov3RbS3JDXSYXNcMJe1t8PpUlgRcd77LgTuCxLu0m1BvppfvR/Qoz2p2l/Dy/ej+hJo3TtL5eMi4wNkNYSL23vJPPVOvezZcYDHPuIvSgTqd0jbEgmxWEHafafhTTdW/QnfpLtT+Gm/wAP0JNG37xwtb3nHQl/pkbdGk3LibC9rfFLI/GS92aH2bhwsrGtBFr4mg2dposMO0+1P4aXq36FIO0O1jupJvL6Ug2rZZAS5lyGDG4ujqgcN7GzXaOsDeyZltGoMgdc3GGsLMOlgG4rNI5LIxbe2te5oHyaOGF+LDZwsfVA8Cqb9vbVB/4accruNvJINxJI9rXXtlE2ccuqc+4FwcN7gb9QmxFpAMZlw2AOOGuf3xo6xcbgcjuWFPaLae7Il9xJ18lPU9otquNxSPjJAxZZlAeQLYjcnWwGqQbSZzsLc4fq9C3Ljq8VsRu0lpDmnTxFtRvUBmABwl5t6mKjrnOt4XcN552WOj23tfEP2eZ1iDhJlsSDfWxClqtt7Ye4u9Eewk3LW5waDyu4pBq62bA93pDX47YhJFBWZZ4PLmktI4hwvv3JWVWHdYGxB/Zqg3B3g95ZCn2vtlrgRSufvux4lcxwIsQ4YxcclVlr9rXNqVzB7LRPhbyHfSDZNqmRkljZMZtfLpa2SMt4FguAdN4I+Klj2vvbIyZ8Trh7Bs+tFxyJBt0WMotrbYYX4acvxMLHNkFQW4T4j9YNearO2htb9zL1qtP/AGKwW+3dBPTOZKwXpH2dFJhLXxPIuGPvq09Oqs7F/KCcsMnF5m6B5eWh45+F/mqMG1NqFkkT4GuilAbJmtkksOLcclh08AuBPsCYGwaSrPRuantm9zSBHGA4WuQHFZ01oJub/DRZ91BNHpct5AkJv672j80g0o2lbcPidSgbTKzGKb2vl+CaTL4uPUqjqbZla9wcAA8iz7ePAnmuamgHxSoBKkS3QRZaXAhCB2BPEaEIHNYpWsQhBM2NSiNCFBIGKWNiEKjs7LZqFs6RugQhZ0W2pyELKhQzBCERWwq9TtQhBcATHoQoKFQq7UIWgkqrhuqEIL0AUsgQhQRsGq6EIQhBPdRyoQoOdMNVYgCEKixdJdCFA0lRuKEKivI5V5ClQg59WTZcKrkI3IQtYjiVZudVSfGhCqonsULmpUIIyxMwIQqAMRhQhB//2Q==") no-repeat 0 -100px; 
            text-align:center;
            color:rgb(14, 13, 13);
        }
        #showcase h1{
            margin-top: 100px;
            font-size: 50px;
            margin-bottom: 10px;
        }
        #showcase p{
            font-size: 20px;
        }
        #newsletter{
            padding:60px;
            color:#ffffff;
            background: #35424a;
            margin-bottom: 10px;

        }
        #newsletter h1{
            float: left;
        }
        #newsletter form{
            float: right;
            margin-top: 15px;
        }
        #newsletter input[type="email"]{
            padding: 4px;
            height:25px;
            weight:250px; 

        }
        /*boxes*/
        #boxes{
            margin-top:5px;
        }

        #boxes .box{
            float: left;
            text-align: center;
            width: 30%;
            padding: 10px;
           
        }
        #boxes .box img{
            weight:90px
        }
        
        footer {
            padding:10px;
            margin-top:30%;
            color:white;
            background-color: #e8491d;
            text-align: center;
        }
        footer h1{
            font-dize:20px;
        }
     