body{
    font: 15px/1.5 Arial, helvetica, sans-serif;
    padding: 0;
    marging: 0;
    background-color:#f4f5f7; 
}

/*global*/
.container{
    width: 90%;
    margin:auto;
    overflow: hidden;
}
    header{
        background: #35424a;
        color: #ffffff;
        padding-top: 30px;
        min-height: 70px;
        border-bottom: #e8491d 3px solid;

    }
    header ul{
        margin: 0px;
        padding: 0px;
    }
    .button_1{
        height: 38px;
        background:#e8492d;
        border: 0;
        padding: right 20px;
        padding: right 20px;
        color: white;
    }
    .dark{
        padding:15px;
        background:#464342;
        color:#ffffff;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    header a{
        color: #ffffff;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 16px;
        }
        header li{
            float: left;
            display: inline;
            padding: 0px 20px 0px 20px;
         
        }
        header #branding{
            float:left;
        }
        header #branding h1{
           margin: 0;
        }
        header nav{
            float:right;
            margin-bottom:10px; 
        }
        header .highlight, header .current a{
            color: #e8491d;
            font-weight:bold; 
        }
        header a:hover{
            color: #e8491d;
            font-weight:bold;
        }
        /*showcase*/
        #showcase{
            min-height: 400px;
            background-image: url("download.jpg") no-repeat 0 -100px; 
            text-align:center;
            color:rgb(14, 13, 13);
        }
        #showcase h1{
            margin-top: 100px;
            font-size: 50px;
            margin-bottom: 10px;
        }
        #showcase p{
            font-size: 20px;
        }
        #newsletter{
            padding:60px;
            color:#ffffff;
            background: #35424a;
            margin-bottom: 10px;

        }
        #newsletter h1{
            float: left;
        }
        #newsletter form{
            float: right;
            margin-top: 15px;
        }
        #newsletter input[type="email"]{
            padding: 4px;
            height:25px;
            weight:250px; 

        }
        /*boxes*/
        #boxes{
            margin-top:20px;
        }

        #boxes .box{
            float: left;
            text-align: center;
            width: 30%;
            padding: 10px;
           
        }
        #boxes .box img{
            weight:90px
        }
        
        /*main-col
        article#main-col{
            float:left;
            Width:35%;
           

        }
        /*side bar

        aside#sidebar{
            float:left;
            width:30%;
            margin-top:10px;
        }  */ 
        /*footer*/
        footer {
            padding:5px;
            margin-top:30%;
            color:white;
            background-color: #e8491d;
            text-align: center;
        }
        footer h1{
            font-dize:20px;
        }
        @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
  background: #4CAF50;
}

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #E8492D
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background:#E8492D;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}
        